<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='aboutstyle.css') }}">
</head>

<body>
    <div class="container">

        <div class="about">

            <h3>Fake Currency note detection</h3>
            <p>Counterfeit currency poses a significant threat globally, leading to financial losses and security
                breaches. Manual detection methods are time-consuming and error-prone, necessitating the
                development of automated systems. Our project focuses on creating a robust system to
                differentiate between genuine and counterfeit currency notes using image processing
                techniques. By analyzing high-resolution images of currency notes, we preprocess them to
                enhance quality and eliminate noise. Advanced feature extraction methods, including edge
                detection and texture analysis, help capture distinct security features present in genuine notes.
                Subsequently, machine learning algorithms such as Support Vector Machines and
                Convolutional Neural Networks are trained on a diverse dataset to accurately classify notes as
                real or fake. Performance metrics such as accuracy and precision are used to evaluate system
                effectiveness, with the aim of enhancing overall currency transaction security and preventing
                financial fraud. </p>

        </div>
        <div class="batch">

            <H4>Batch-6B</H4>
            <p>G Uday Chandhu</p>
            <p>J sai Yeswanth</p>
            <p>Jithin Biswal</p>
            <p>K Charan Teja</p>
        </div>
    </div>

</body>

</html>